:root {
  --light-gray: #eaeaea;
  --black: #333333;
}

html, body {
  padding: 0;
  margin: 0;

  font-family: sans-serif;
}

.nav {
  display: grid;
  grid-template-columns: 50px 1fr 100px;
  align-content: center;
  align-items: center;

  height: 60px;
  padding: 0 15px;
  background-color: var(--light-gray);
}

.nav-logo {
  font-weight: bold;
}

.nav-links {
  display: flex;
}

.nav-link {
  padding: 0 15px;

  color: var(--black);
  text-decoration: none;
}

.nav-toggle {
  display: none;

  grid-column: 3;
  justify-self: end;
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: 50vh;

    padding: 50px 15px 50px 15px;
    background-color: var(--light-gray);

    transform: translateY(-100vh);
    
  }

  .nav-links.open {
    transform: translateY(0);
    transition: 0.5s ease-out;
  }

  .nav-link {
    padding: 25px 15px;
  }

  .nav-toggle {
    display: block;
  }
}